{% extends "layout.html" %} {% block title %} History {% endblock %} {% block
main %}
<table class="table table-striped history-table">
  <thead>
    <tr>
      <th class="text-start">Symbol</th>
      <th class="text-start">Name</th>
      <th class="text-end">Shares</th>
      <th class="text-end">Price</th>
      <th class="text-end">Transaction type</th>
      <th class="text-end">Transacted</th>
    </tr>
  </thead>
  {% for user_stock in user_stocks %}
  <tbody>
    <tr>
      <td class="text-start">{{ user_stock.share_symbol }}</td>
      <td class="text-start">{{ user_stock.share_name }}</td>
      <td class="text-end">{{ user_stock.total_shares }}</td>
      <td class="text-end">{{ user_stock.share_price }}</td>
      <td class="text-end">{{ user_stock.transaction_type }}</td>
      <td class="text-end">{{ user_stock.date_time }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}
