:root {
  --style-color-dark-blue: #013b58;
  --style-color-light-dark-blue: #00658f;
  --style-color-gold-1: #f5cb85;
  --style-color-gold-2: #e4b767;
  --style-color-gold-3: #f8e9c0;
  --style-color-light-gold: #f8e9c0;
}
