/* Size for brand */
nav .navbar-brand {
  font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
  color: #537fbe;
}
nav .navbar-brand .red {
  color: #ea433b;
}
nav .navbar-brand .yellow {
  color: #f5b82e;
}
nav .navbar-brand .green {
  color: #2e944b;
}

.table > :not(:first-child) {
  border-top: none;
}

.history-table > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: none;
}

.symbol-select {
  padding: 0.375rem 1.25rem 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  cursor: pointer;
}

.current-balance--wrapper {
  padding: 1rem;
}

.current-balance-header {
  font-size: 1.1rem;
}

.current-balance.amount {
  font-weight: 600;
}
